/* p要素に適用するスタイル */
p {
  display:inline-block;
  color: white;
  background-color: #00008B;
  text-align: center;
  width: 160px;
  padding: 10px 0;
  margin-right: 20px;
    border-top: yellow 5px dotted;
    border-right: yellow 10px ridge;
    border-bottom: red 10px ridge;
    border-left: yellow 5px solid;
}
